label {
    display: block;
    margin-top: 10px;
  }

.login-design{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
}  
  
  .card-container.card {
    max-width: 420px !important;
    padding: 35px 30px;
  }
  
.card {
  background-color: transparent;
  padding: 10px 25px 30px;
  margin: 50px auto 25px;
  border-radius: 15px;

  box-shadow:
    8px 10px 30px rgba(90, 140, 255, 0.4),
    4px 6px 12px rgba(90, 140, 255, 0.3);

  animation: shadowMove 3s ease-in-out infinite alternate;
}

/* Shadow animation */
@keyframes shadowMove {
  0% {
    box-shadow:
      6px 8px 20px rgba(90, 140, 255, 0.25),
      3px 4px 8px rgba(90, 140, 255, 0.2);
  }

  50% {
    box-shadow:
      10px 12px 28px rgba(90, 140, 255, 0.35),
      5px 6px 12px rgba(90, 140, 255, 0.3);
  }

  100% {
    box-shadow:
      14px 16px 35px rgba(90, 140, 255, 0.45),
      7px 8px 16px rgba(90, 140, 255, 0.35);
  }
}




  /* DIVIDER CSS */
  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
    margin-right: 10px;
}

.divider:not(:empty)::after {
    margin-left: 10px;
}

.divider span {
    color: #aaa;
    font-size: 14px;
}


.create-new-account{
  background-color: #ffd413;
}

.forgot-password{
  background-color: #6834ce;
  color: white;
}



/* remove Exclamination mark in input fieldset */
.form-control.is-invalid {
  background-image: none !important;
}
/* remove Exclamination mark in input fieldset */
