<div class="container">

  <div class="col-md-12">
    <div class="card card-container">
      <p class="text-center mb-4 login-design">
        <i class="bi bi-unlock"></i>
        Login
      </p>

      <form *ngIf="!isLoggedIn" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>


        <div class="form-group">
          <label class="fs12">Phone No</label>
          <input type="text" class="form-control form-control-sm" name="username" [(ngModel)]="form.username" required
            #username="ngModel" minlength="10" maxlength="10" [class.dirty]="username.dirty"
            [class.touched]="username.touched"
            [ngClass]="{ 'is-invalid': username.errors && (username.touched || username.dirty ) }" />

          <div *ngIf="username.errors && (username.touched || username.dirty )" class="invalid-feedback fs11">

            <div *ngIf="username.errors['required'] ">
              Username is required
            </div>

            <div *ngIf="username.errors['minlength']">
              Username must be at least 10 characters
            </div>

            <div *ngIf="username.errors['maxlength']">
              Username must be at most 10 characters
            </div>
          </div>

        </div>


        <div class="form-group">
          <label class="fs12">Password</label>
          <input type="password" class="form-control form-control-sm" name="password" [(ngModel)]="form.password"
            required minlength="6" maxlength="40" #password="ngModel"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
            [ngClass]="{ 'is-invalid': password.errors  && (username.touched || username.dirty ) }" />

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback fs11">
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="password.errors?.['pattern']">
              Password must be at least 8 characters long, include an uppercase letter,
              a lowercase letter, a number, and a special character.
            </div>
          </div>
        </div>


        <div class="d-grid gap-2 col-12 mx-auto mt-4">
          <button mat-raised-button color="primary" [disabled]="f.invalid">
            <span class="fs12">Login</span>
          </button>

          <div *ngIf="progressBarShow">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>

          <div class="divider">
            <span>or</span>
          </div>

          <div class="d-flex justify-content-between gap-2">
            <button mat-flat-button class="create-new-account" routerLink="/register">
              <i class="bi bi-person-plus-fill"></i>
              <span class="fs12"> New Account</span>
            </button>
            
            <button mat-flat-button class="forgot-password" routerLink="/register">
              <i class="bi bi-shield-lock"></i>
              <span class="fs12">Forgot Password</span>
            </button>
          </div>

          <!-- <button mat-stroked-button color="primary" routerLink="/forgot-password" class="mt-1" >Forgot Password ?</button> -->
        </div>

      </form>


    </div>


  </div>


</div>