<div class="card card-container">
  <div class="card-body">

    <p class="text-center">
      Create Password
      <i class="bi bi-exclamation-circle info-icon"
        matTooltip="Password must be at least 8 characters long, include an uppercase letter, a lowercase letter, a number, and a special character."
        matTooltipPosition="right" matTooltipShowDelay="300">
      </i>
    </p>


    <form #userlogin="ngForm" (ngSubmit)="userlogin.valid && createAccount()" novalidate class="p-3">

      <!-- PASSWORD -->
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Enter Password</mat-label>

        <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" required
          [(ngModel)]="setupPassForm.password" #password="ngModel"
          pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">

        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        <mat-error *ngIf="password.errors?.['required']">
          Password is required
        </mat-error>

        <mat-error *ngIf="password.errors?.['pattern']">
          Minimum 8 characters, number & special character required
        </mat-error>
      </mat-form-field>

      <!-- CONFIRM PASSWORD -->
      <mat-form-field appearance="outline" class="w-100 mb-3 mt-2">
        <mat-label>Confirm Password</mat-label>

        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" name="conformPassword" required
          [(ngModel)]="setupPassForm.conformPassword" #conformpassword="ngModel">

        <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
          <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        <mat-error *ngIf="conformpassword.errors?.['required']">
          Confirm Password is required
        </mat-error>

        <mat-error *ngIf="
        conformpassword.touched &&
        setupPassForm.password !== setupPassForm.conformPassword
      ">
          Password does not match
        </mat-error>
      </mat-form-field>

      <!-- SUBMIT BUTTON -->
      <button mat-raised-button color="primary" class="w-100 mt-2"  [disabled]="userlogin.invalid">
        Create Account
      </button>

    </form>


  </div>
</div>