<!--LOADER STARTING -->
<div [class.blur-screen]="isLoading">

    
<!-- ############################################################################################################## -->
    <!--########## PRODUCT DETAILS STARTING ##########-->
    <div class="container mt-4">

        <div class="brandDesign mb-4 p-1 px-2 ">
            {{productBrand}}
        </div>

        <div class="row" *ngIf="productData">

            <!-- Sidebar Images -->
            <div class="col-md-1" *ngIf="productData">
                <div class="d-flex flex-column vertical-thumbnails">
                     <ng-container *ngFor="let file of productData.productFilesDtos">

                        <!-- Image Thumbnail -->
                        <img *ngIf="file.pfileType === 'IMAGE'" 
                            [src]="file.pfileUrl"
                            class="img-thumbnail mb-2"
                            alt="Thumbnail"
                            (mouseenter)="changeMainMedia(file)">

                        <!-- Video Thumbnail -->
                        <video *ngIf="file.pfileType === 'VIDEO'" 
                            [src]="file.pfileUrl"
                            muted
                            class="img-thumbnail mb-2"
                            (mouseenter)="changeMainMedia(file)">
                        </video>

                    </ng-container>
                    <!-- <img *ngFor="let productImages of productData.productFilesDtos" [src]="productImages.pfileUrl"
                        class="img-thumbnail mb-2" alt="Thumbnail"
                        (mouseenter)="changeMainImage(productImages.pfileUrl)"> -->
                </div>
            </div>

            <!-- Main Product Image -->
            <div class="col-md-5 ">

                 <!-- If main media is image -->
                    <img *ngIf="mainMedia?.type === 'IMAGE'"
                        [src]="mainMedia.url"
                        class="img-fluid border sticky-image mb-2 productImage" />

                    <!-- If main media is video -->
                    <video *ngIf="mainMedia?.type === 'VIDEO'"
                        [src]="mainMedia.url"
                        controls
                        class="img-fluid border sticky-image mb-2">
                    </video>
            </div>

            <!-- Product Details -->
            <div class="col-md-5 mx-3">
                <p class="text-muted brandName custom-spacing">{{productData.brand}}</p>
                <p class="custom-spacing productName">{{productData.productName}}</p>

                <div class="px-2 py-1 limitedDealOffer mt-2">
                    <span class="fs12">
                        <i class="bi bi-alarm-fill"></i>
                        Limited Deal Offer
                    </span>
                </div>

                <div class="mt-2">
                    <p class="price-section mb-0">
                        <span class="productPrice">
                            <span class="fs20">₹</span>
                            {{productPrice}}
                        </span>
                        <span class="productOff mx-3">{{productDiscount}}% Off</span>
                    </p>
                    <span class="productMrp p-0">
                        <del class="custom-del fs14">M.R.P : ₹{{productMrp}}</del>
                    </span>
                </div>

                <div class="rating align-items-center">
                    <span class="badge" style="background-color: #26A541;">4.3 ★</span>
                    <p class="text-muted mt-1">562 reviews</p>
                </div>

                <div class="btn-group size-selector-group mt-3" role="group" aria-label="Size Selection">
                    <ng-container *ngFor="let pSizes of productData.productSizesDtos; let i = index">

                        <button type="button" class="btn size-selector-btn"
                            (click)="cartService.onSizeChange(pSizes.productSize)" 
                            [ngClass]="{'size-selected': selectedSize === pSizes.productSize, 
                                       'size-out-of-stock': pSizes.productInventory === '0' }" 
                                       (click)="selectSize(pSizes.productSize , pSizes)">
                            <span class="fs14">{{ pSizes.productSize }}</span>
                            <span class="fs11 mx-1 sizePrice">
                                ₹{{ pSizes.productPrice }}
                            </span>
                        </button>

                    </ng-container>
                </div>

                <p class="mt-2">
                    Selected Size :
                    <strong> {{(selectedSize)}}</strong>
                </p>



                <ng-container>
                    <div class="mt-4 d-flex gap-2">

                        <!-- Conditionally show buttons based on stock availability -->
                        <ng-container *ngIf="!isOutOfStock">

                            <button type="button" class="btn buyNow btn-lg flex-fill"
                                (click)="addToCartBuyNow(productData)">
                                <i class="bi bi-bag-heart"></i>
                                BUY NOW
                            </button>


                            <button type="button" class="btn btn-warning btn-lg flex-fill"
                                (click)="productAddToCart(productData)">
                                <i class="bi bi-cart4"></i> ADD TO CART
                            </button>


                        </ng-container>

                    </div>
                </ng-container>




                <!-- PRODUCT VARIANTS -->
                <div class="mt-4">
                    <div class="d-flex align-items-center">
                        <h6 class="mb-0">Variants</h6>
                    </div>
                    <div class="d-flex gap-2 flex-wrap mt-2 variant-container">
                        <a  *ngFor="let item of productVariants"
                            href="/pd?productId={{item.productId}}&pN={{item.productName}}&brand={{item.brand}}&price={{item.productPrice}}&mrp={{item.productMrp}}"
                            class="variant-card p-1 text-decoration-none"
                            [ngClass]="{ 'selected-variant' : item.productId == productId }">
                            <img  [src]="item.productMainImage"  alt="variant"  class="variant-img img-fluid"/>
                            <div class="variant-divider"></div>
                            <div class="variant-prices mt-1">
                                <p class="sale-price mb-0">₹{{ item.productPrice }}</p>
                                <p class="mrp mb-0">₹{{ item.productMrp }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- PRODUCT VARIANTS -->
                 



                <!-- ABOUT THIS ITEMS -->
                <div class="container mt-4 border-1">
                    <h5 class="fw-bold mb-3">Product Details</h5>

                    <div class="product-details">

                        <div class="detail-row">
                            <span class="detail-key">Neck</span>
                            <span class="detail-value">Mandarin</span>
                        </div>

                        <div class="detail-row">
                            <span class="detail-key">Sleeve Length</span>
                            <span class="detail-value">Short Sleeves</span>
                        </div>

                        <div class="detail-row">
                            <span class="detail-key">Sleeve Styling</span>
                            <span class="detail-value">Regular</span>
                        </div>

                        <div class="detail-row">
                            <span class="detail-key">Pattern</span>
                            <span class="detail-value">Solid</span>
                        </div>

                        <div class="detail-row">
                            <span class="detail-key">Print / Pattern Type</span>
                            <span class="detail-value">Solid</span>
                        </div>

                        <div class="detail-row">
                            <span class="detail-key">Net Quantity (N)</span>
                            <span class="detail-value">1</span>
                        </div>

                        <div class="detail-row">
                            <span class="detail-key">Number of Pockets</span>
                            <span class="detail-value">No Pocket</span>
                        </div>

                        <div class="detail-row">
                            <span class="detail-key">Occasion</span>
                            <span class="detail-value">Casual</span>
                        </div>

                        <div class="detail-row">
                            <span class="detail-key">Hemline</span>
                            <span class="detail-value">Straight</span>
                        </div>

                        <div class="detail-row">
                            <span class="detail-key">Country of Origin</span>
                            <span class="detail-value">India</span>
                        </div>

                        <p>
                            These Men's Indigo Blue Baggy Fit Washed Cargo Mid-Rise Jeans bring together washed 
                            detailing with utilitarian pockets for a street-smart edge. Team them with an oversized
                             tee and sneakers for an effortless off-duty look.
                        </p>

                    </div>
                </div>
                <!-- ABOUT THIS ITEMS -->


                <!-- Product more Details STARTING -->
                <div class="container">
                    <div class="accordion mt-4" id="productMoreDetailsAcc">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingMoreDetails">
                                <button class="accordion-button collapsed py-2" 
                                        type="button" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#collapseMoreDetails"
                                        aria-expanded="false" 
                                        aria-controls="collapseMoreDetails">
                                    Product More Details
                                </button>
                            </h2>

                            <div id="collapseMoreDetails" 
                                class="accordion-collapse collapse" 
                                aria-labelledby="headingMoreDetails" 
                                data-bs-parent="#productMoreDetailsAcc">

                                <div class="accordion-body p-2">
                                    <ul class="details-list fs14 mb-0">
                                        <li>High-quality cotton fabric adjustable for all seasons</li>
                                        <li>Soft and breathable material suitable for daily use</li>
                                        <li>Unique printed design with long-lasting colors</li>
                                        <li>Machine washable; maintains shape after multiple washes</li>
                                        <li>Suitable for casual wear, outing, and office use</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>    
                </div>
                <!-- Product more Details ENDING--> 


                <!-- SELLER DETAIS STARTING -->
                <div class="seller-card mt-4">
                    <p class="mb-3">Sold By</p>

                    <div class="seller-header">
                        <img src="../../../assets/shop icons/store-2017.png" alt="shop" class="seller-logo">

                        <div class="seller-info">
                            <p class="seller-title mb-1">SHIV SHAKTI ENTERPRICES</p>
                        </div>

                        <button mat-stroked-button color="primary">View Shop</button>
                    </div>

                    <div class="seller-stats mt-3">
                        <div class="stat-box">
                            <span class="rating-pill">4.0 ★</span>
                            <small class="muted-text">96,304 Ratings</small>
                        </div>

                        <div class="stat-box">
                            <span class="stat-value">899</span>
                            <small class="muted-text">Followers</small>
                        </div>

                        <div class="stat-box">
                            <span class="stat-value">40</span>
                            <small class="muted-text">Products</small>
                        </div>
                    </div>
                </div>
                  <!-- SELLER DETAIS STARTING ENDING-->





                <!-- features-container STARTING -->
                <div class="container mt-4">
                    <div class="row features-container">
                        <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 col-3 feature-item">
                            <div class="feature-icon"><i class="bi bi-truck"></i></div>
                            <p>Free Delivery</p>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 col-3 feature-item">
                            <div class="feature-icon"><i class="bi bi-arrow-repeat"></i></div>
                            <p>7 Days Replacement</p>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 col-3 feature-item">
                            <div class="feature-icon"><i class="bi bi-box-seam"></i></div>
                            <p>Amazon Delivered</p>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 col-3 feature-item">
                            <div class="feature-icon"><i class="bi bi-cash-stack"></i></div>
                            <p>Pay on Delivery</p>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 col-3 feature-item">
                            <div class="feature-icon"><i class="bi bi-lock"></i></div>
                            <p>Secure Transaction</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<!--########## PRODUCT DETAILS ENDING... ##########-->
<!-- ############################################################################################################## -->



</div>

<!-- Loader Overlay -->
<div class="overlay-loader " *ngIf="isLoading">
    <div class="spinner-border" role="status"></div>
</div>
<!-- ############################################################################################################## -->
<!--LOADER FINISH -->














