<div [class.blur-screen]="isLoading">

    <!--########## PRODUCT DETAILS STARTING ##########-->
    <div class="container mt-4">

        <div class="brandDesign mb-4 p-1 px-2 ">
            {{productName}}
        </div>

        <div class="row" *ngIf="productData">

            <!-- Sidebar Thumbnails -->
            <div class="col-md-1" *ngIf="productData; else loadingTemplate">
                <div class="d-flex flex-column vertical-thumbnails">
                    <img *ngFor="let productImages of productData.productFilesDtos" [src]="productImages.pfileUrl"
                        class="img-thumbnail mb-2" alt="Thumbnail"
                        (mouseenter)="changeMainImage(productImages.pfileUrl)">
                </div>
            </div>

            <ng-template #loadingTemplate>
                <p>Loading product details...</p>
            </ng-template>

            <!-- Main Product Image -->

            <div class="col-md-5 ">
                <img [src]="mainImage" class="img-fluid border sticky-image mb-2 productImage" alt="Product Image">

                <div class="d-flex horizontal-thumbnails">
                    <span *ngFor="let productFiles of productData.productFilesDtos">
                        <img *ngIf="productFiles.pFileType === 'IMAGE'" [src]="productFiles.pfileUrl"
                            class="border img-thumbnail me-2" width="50px" alt="Color Option">
                    </span>
                </div>
            </div>

            <!-- Product Details -->
            <div class="col-md-5 mx-3">
                <p class="text-muted brandName custom-spacing">{{productData.brand}}</p>
                <p class="custom-spacing productName">{{productData.productName}}</p>

                <div class="px-2 py-1 limitedDealOffer mt-2">
                    <span class="fs12">
                        <i class="bi bi-alarm-fill"></i>
                        Limited Deal Offer
                    </span>
                </div>

                <div class="mt-2">
                    <p class="price-section mb-0">
                        <span class="productPrice">
                            <span class="fs20">₹</span>
                            {{productPrice}}
                        </span>
                        <span class="productOff mx-3">{{productDiscount}}% Off</span>
                    </p>
                    <span class="productMrp p-0">
                        <del class="custom-del fs14">M.R.P : ₹{{productMrp}}</del>
                    </span>
                </div>

                <div class="rating align-items-center">
                    <span class="badge" style="background-color: #26A541;">4.3 ★</span>
                    <p class="text-muted mt-1">562 reviews</p>
                </div>

                <div class="btn-group size-selector-group mt-3" role="group" aria-label="Size Selection">
                    <ng-container *ngFor="let pSizes of productData.productSizesDtos; let i = index">

                        <button type="button" class="btn size-selector-btn"
                            (click)="cartService.onSizeChange(pSizes.productSize)" 
                            [ngClass]="{'size-selected': selectedSize === pSizes.productSize, 
                                       'size-out-of-stock': pSizes.productInventory === '0' }" 
                                       (click)="selectSize(pSizes.productSize , pSizes)">
                            <span class="fs14">{{ pSizes.productSize }}</span>
                            <span class="fs11 mx-1" style="background-color: #e3e4f1;border-radius: 4px;padding: 5px;">
                                ₹{{ pSizes.productPrice }}
                            </span>
                        </button>

                    </ng-container>
                </div>

                <p class="mt-2">
                    Selected Size :
                    <strong> {{(selectedSize)}}</strong>
                </p>



                <ng-container>
                    <div class="mt-4 d-flex gap-2">

                        <!-- Conditionally show buttons based on stock availability -->
                        <ng-container *ngIf="!isOutOfStock">

                            <button type="button" class="btn buyNow btn-lg flex-fill"
                                (click)="addToCartBuyNow(productData)">
                                <i class="bi bi-bag-heart"></i>
                                BUY NOW
                            </button>


                            <button type="button" class="btn btn-warning btn-lg flex-fill"
                                (click)="productAddToCart(productData)">
                                <i class="bi bi-cart4"></i> ADD TO CART
                            </button>


                        </ng-container>

                    </div>
                </ng-container>


                <!-- features-container STARTING -->
                <div class="container">
                    <div class="row features-container">
                        <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 col-3 feature-item">
                            <div class="feature-icon"><i class="bi bi-truck"></i></div>
                            <p>Free Delivery</p>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 col-3 feature-item">
                            <div class="feature-icon"><i class="bi bi-arrow-repeat"></i></div>
                            <p>7 Days Replacement</p>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 col-3 feature-item">
                            <div class="feature-icon"><i class="bi bi-box-seam"></i></div>
                            <p>Amazon Delivered</p>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 col-3 feature-item">
                            <div class="feature-icon"><i class="bi bi-cash-stack"></i></div>
                            <p>Pay on Delivery</p>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 col-3 feature-item">
                            <div class="feature-icon"><i class="bi bi-lock"></i></div>
                            <p>Secure Transaction</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<!--########## PRODUCT DETAILS ENDING... ##########-->


<!-- ############################################################################################################## -->
<!-- ############################################################################################################## -->



</div>

<!-- Loader Overlay -->
<div class="overlay-loader" *ngIf="isLoading">
    <div class="spinner-border" role="status"></div>
</div>