/* ################################################################ */
/* ############## PRODUCT DETAILS STARTING ################## */

body {
    font-family: Arial, sans-serif;
}

.img-thumbnail {
    cursor: pointer;
    transition: 0.3s;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.img-thumbnail:hover {
    border: 2px solid blue;
}

.custom-spacing {
    margin-bottom: 5px;
}

.custom-spacing+.custom-spacing {
    margin-top: 5px;
}

/* Main Product Image */
.productImage {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

/* Brand Name  */
.brandName {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 540;
    text-transform: uppercase;
    color: #85929e;
}

/* Product Name  */
.productName {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}

/* Special Price */
.productPrice {
    font-size: 28px;
    font-family: sans-serif;
}

/* Product Mrp */
.productMrp {
    font-size: 16px;
    color: #707b7c;
}

/* Product off */
.productOff {
    font-size: 26px;
    color: rgb(195, 19, 39);
    font-family: 'Times New Roman', Times, serif;
}


/* limited Deal Offer */
.limitedDealOffer {
    background-color: #CC0C39;
    display: inline-block;
    border-radius: 4px;
    color: white;
    font-weight: 500;
}

.custom-del {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(0, 0, 0, 0.6);
}

.btn-group {
    gap: 15px;
}

.btn-group .btn {
    border-radius: 8px;
    padding: 7px 15px;
    ;
}

.size-selector-btn {
    border: 2px solid #000;
    /* Default border */
    border-radius: 5px;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
}

/* Hover Effect for All Buttons */
.size-selector-btn:hover {
    background-color: #3F0F74 !important;
    color: white !important;
}

/* Selected Button */
.size-selected {
    background-color: #3F0F74 !important;
    color: white !important;
    border-color: #3F0F74 !important;
}

.sizePrice{
     color: #000 !important;
     background-color: #e3e4f1;
     border-radius: 4px;
     padding: 5px;
}


/* Out-of-Stock Button */
.size-out-of-stock {
    cursor: not-allowed;
    opacity: 0.6;
    border-style: dashed;
    color: #666;
}


.size-out-of-stock:hover {
    background-color: #6c757d !important;
    color: white !important;
}


.buyNow {
    background-color: #3F0F74;
    color: white;
    border: none;
}

.buyNow:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Buy Now Button Ending */

.features-container {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.feature-item {
    text-align: center;
    color: #333;
    font-size: 12px;
}

.feature-icon {
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #ff9900;
    margin: auto;
}

.sticky-image {
    position: sticky;
    top: 80px;
}

.col-md-1 {
    position: sticky;
    top: 80px;
    height: fit-content;
    z-index: 999;
}

.vertical-thumbnails {
    display: flex;
}

.horizontal-thumbnails {
    display: none !important;
}

.brandDesign {
    background-color: #DFFF00;
    display: inline-block;
    border-radius: 4px;
}

/* BLUR SCREEN STARTING */
.blur-screen {
    filter: blur(5px);
    pointer-events: none;
    /* user na kare tab tak */
    transition: 0.3s ease-in-out;
}

.overlay-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
    z-index: 10000;
}

.spinner-border {
    width: 1rem;
    height: 1rem;
}

/* BLUR SCREEN ENDING */

/* Media Queries Starting */
@media (max-width: 768px) {
    .horizontal-thumbnails {
        display: flex !important;
    }

    .vertical-thumbnails {
        display: none !important;
        /* Hide vertical thumbnails */
    }

}

/* Media Queries Ending */

/* ################################################################ */
/* ############## PRODUCT DETAILS ENDING ################## */
