<div style="margin-top: 120px;">




  <div class="col-md-12" *ngIf="registerForm">
    <div class="card card-container ">

      <p class="text-center fs15">
        <i class="bi bi-person-add"></i>
        Create Account
      </p>

      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmitFreshUser()" #f="ngForm">

        <div class="col-md-12 fs13">
          <!-- <label for="validationDefaultUsername" class="form-label">Mobile No</label> -->
          <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend2">+91</span>
            <input type="tel" class="form-control" name="mobile" required="required" [(ngModel)]="FreshUserform.mobile"
              #mobile="ngModel" pattern="^\d{10}$" [class.dirty]="mobile.dirty" [class.touched]="mobile.touched"
              [ngClass]="{ 'is-invalid': mobile.errors && (mobile.touched || mobile.dirty ) }" />

            <div *ngIf="mobile.errors && (mobile.touched || mobile.dirty )" class="invalid-feedback">

              <div *ngIf="mobile.errors['required']">
                Mobile number is required.
              </div>
              <div *ngIf="mobile.errors['pattern']">
                Mobile number must be a 10-digit number.
              </div>
            </div>

          </div>
        </div>

        <div class="form-group d-grid gap-2 col-12 mx-auto mt-4">
          <button mat-raised-button color="primary" [disabled]="f.invalid">
            <span class="fs12">SIGN UP</span>
            <i class="bi bi-arrow-right-short"></i>
          </button>
        </div>

        <div class="divider">
          <span>or</span>
        </div>

        <!-- <div class="form-group d-grid gap-2 col-12 mx-auto mt-4">
        <button  routerLink="/login" mat-raised-button color="primary">Click here To Login</button>
        </div> -->

        <div class="text-center fs12">
          Already have an account? <a href="" routerLink="/login">Login</a>
        </div>

      </form>
    </div>
  </div>

</div>






















<!-- ######################################################################################################## -->
<!-- ######################################################################################################## -->


<!-- Update Address Form Starting -->
<div class="modal fade" id="otpmodel" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered otp-only-dialog">
    <div class="modal-content otp-only-content">

      <div class="otp-wrapper">
        <div class="otp-card text-center">

          <div class="otp-icon mx-auto mb-3">
            <i class="bi bi-shield-check"></i>
          </div>

          <h5 class="otp-title mb-4">Enter OTP Code</h5>

          <div class="otp-box mb-4">
            <input #otpInput type="text" maxlength="1" class="otp-input" (input)="onOtpInput($event, 0)"
              (keydown)="onKeyDown($event, 0)">

            <input #otpInput type="text" maxlength="1" class="otp-input" (input)="onOtpInput($event, 1)"
              (keydown)="onKeyDown($event, 1)">

            <input #otpInput type="text" maxlength="1" class="otp-input" (input)="onOtpInput($event, 2)"
              (keydown)="onKeyDown($event, 2)">

            <input #otpInput type="text" maxlength="1" class="otp-input" (input)="onOtpInput($event, 3)"
              (keydown)="onKeyDown($event, 3)">

            <input #otpInput type="text" maxlength="1" class="otp-input" (input)="onOtpInput($event, 4)"
              (keydown)="onKeyDown($event, 4)">

            <input #otpInput type="text" maxlength="1" class="otp-input" (input)="onOtpInput($event, 5)"
              (keydown)="onKeyDown($event, 5)">
          </div>


          <button mat-raised-button  color="primary"  [disabled]="!isOtpComplete" class="otp-btn w-100" (click)="verifyOtp()">
            Verify OTP
          </button>

        </div>
      </div>


    </div>
  </div>
</div>

<!-- Update Address Form Ending -->

<!-- ######################################################################################################## -->
<!-- ######################################################################################################## -->